Repository powerfulyang/lint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix(deps): update commitlint monorepo to v16.2.4
  package-lock.json
  package.json
Due: prettier --write

feat: scripts, install-peers
  package-lock.json
  package.json
  scripts/install-peers.mjs
Due: prettier --write

fix: should set exec env
  scripts/install-peers.mjs
Due: none

fix: typo scipts => scripts
  package.json
Due: prettier --write

fix: 被 GitHub Copilot 坑了
  scripts/install-peers.mjs
Due: none

fix: npm@8 下 peerDependencies 处理异常
  scripts/install-peers.mjs
Due: none

fix(deps): update dependency @types/react-dom to v18.0.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency typescript to v4.6.4
  package-lock.json
  package.json
Due: prettier --write

fix: npm 至少在现在是垃圾
  package.json
  scripts/install-peers.mjs
Due: prettier --write

fix: lock file is invalid
  package-lock.json
Due: prettier --write

fix: 想了想还是拒绝大杂烩
  jest.config.js
  package-lock.json
  package.json
  src/__test__/eslint.spec.ts
Due: prettier --write, eslint --fix

fix: no-plusplus allowForLoopAfterthoughts
  src/eslint.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency stylelint to v14.8.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency postcss to v8.4.13
  package-lock.json
  package.json
Due: prettier --write

fix: import/no-extraneous-dependencies
  package-lock.json
  package.json
  scripts/install-peers.mjs
  src/eslint.ts
Due: prettier --write, eslint --fix

fix: 不能加 --no-save
  scripts/install-peers.mjs
Due: none

fix: peerDependencies should be true
  src/eslint.ts
Due: prettier --write, eslint --fix

fix: no-extraneous-dependencies 和 一些调整
  package-lock.json
  package.json
  src/eslint.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency rollup to v2.71.1
  package-lock.json
  package.json
Due: prettier --write

feat: tsc-alias
  jest.config.js
  package-lock.json
  package.json
  tsconfig.build.json
Due: prettier --write, eslint --fix

feat: export pathsToModuleNameMapper
  src/index.ts
Due: prettier --write, eslint --fix

fix: replace any occurrences of "ts-jest/utils" with just "ts-jest"
  jest.config.js
  src/index.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency autoprefixer to v10.4.6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency autoprefixer to v10.4.7
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v5.22.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update google-github-actions/release-please-action action to v3.2.2
  .github/workflows/release-please.yml
Due: none

fix(deps): update dependency @types/jest to v27.5.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency stylelint to v14.8.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency autoprefixer to v10.4.6
  .github/workflows/release-please.yml
  package-lock.json
  package.json
Due: prettier --write

feat(jest): set Jest to v28
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(jest): incorrect jest.config.js types
  example/index.scss
  jest.config.js
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency jest to v28.1.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,scss}
  eslint --fix: any of: **/*.{ts,tsx,js}
  stylelint --fix: any of: **/*.scss
