Repository powerfulyang/lint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,scss}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

feat: add prettier-plugin-tailwindcss
  example/index.tsx
  jest.config.js
  package.json
  src/eslint.ts
  src/prettier.ts
Due: prettier --write, eslint --fix

fix: pnpm no @types/node code completion
  package.json
  src/typings.d.ts
Due: prettier --write, eslint --fix

fix: scss stylelint import-notation
  example/base.scss
  example/index.scss
  src/stylelint.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: strict-boolean-expressions
  .github/workflows/release-please.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/eslint.ts
  src/stylelint.ts
Due: prettier --write, eslint --fix

chore: code stash
  src/paths-to-module-name-mapper.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update
  .gitignore
  package.json
  renovate.json
  src/eslint.ts
Due: prettier --write, eslint --fix

chore: monorepo type declaration
  jest.config.js
  src/index.ts
  src/typings.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: pnpm .npmrc expose dependency
  package.json
Due: prettier --write

feat: prepare for jest esm support
  .github/workflows/release-please.yml
  .jest/jest.setup.ts
  example/index.spec.tsx
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/eslint.spec.ts
  src/eslint.ts
  src/typings.d.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, eslint --fix

fix: postinstall issue on being installed as a dependency
  .github/workflows/release-please.yml
  package.json
Due: prettier --write

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(no-use-before-define): don't show error when function used before define
  package.json
  pnpm-lock.yaml
  src/eslint.ts
Due: prettier --write, eslint --fix

feat(deps): upgrade @swc/core version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(deps): upgrade @swc/core version
  example/index.scss
  package.json
  pnpm-lock.yaml
  src/eslint.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): @swc/core
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Update package dependencies in pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(deps): update dependencies
  package.json
  pnpm-lock.yaml
  src/eslint.spec.ts
Due: prettier --write, eslint --fix
